<header class="container">
    <div class="header-container">
        <nav class="header-navigation">
            
            <a class="header-logo" href="./index.html"><img src="../img/logo.svg" alt="logo"></a>

            <!-- <button type="button" class="mobile-menu-button"><svg class="mobile-menu-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-mobile_menu">
                </use>
            </svg>
            </button> -->

            <ul class="header-menu">
                <li class="header-menu-list"><a href="#about-us" class="header-menu-link">about us</a></li>
                <li class="header-menu-list"><a href="#our-collection" class="header-menu-link">our collection</a></li>
                <li class="header-menu-list"><a href="#your-order" class="header-menu-link">customer order</a></li>
                <li class="header-menu-list"><a href="#testimonials" class="header-menu-link">testimonials</a></li>
            </ul>

        </nav>

        <address class="header-address">
            <div class="header-address-border"><a class="header-address-link" href="tel:+380684439426">+380 (068)
                    443-94-26</a></div>
        </address>
    </div>
</header>