.section-about-us {
    padding-top: 80px;
    position: relative;
    display: flex;
    justify-content: flex-end;
        align-items: flex-end;
        background-image: url(../img/ornament-about-mobile.png);
        background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom right;
}

@media (min-resolution: 192dpi) {
    .section-about-us {
        background-image: url(../img/ornament-about-mobile@2x.png);
    }
}

.about-container {
    width: 375px;
        margin-right: auto;
        margin-left: auto;
        position: relative;       
    
}

/* .ornament-container {
    /* display: flex;
    justify-content: center;
        align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(62px);
    left: 125px;    
    background-image: url(../img/ornament-about-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: bottom center;
    z-index: 0;
} */

/* .ornament {    
     width: 459px;
        height: 408px;
}  */

.about-img {
    position: relative;
    z-index: 1;
}

.about-first-title {
    color: #FCF9F9;        
        font-size: 32px;        
        font-weight: 500;
        line-height: 1.37;        
        letter-spacing: -0.03em;    
        margin-bottom: 40px;
}

.about-first-text {          
    width: 335px;
    color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.03em;
        margin-bottom: 20px;
}

.about-second-text {
    width: 335px;
        color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.03em;
        margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;        
    }

        .section-about-us {
            padding-top: 100px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-image: url(../img/ornament-about-mobile.png);
            
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-about-us {
                background-image: url(../img/ornament-about-tablet@2x.png);
            }
        }

    .about-container {
            width: 768px;
            margin-right: 0;
                margin-left: 0;
    }

    /* .ornament-container {
    display: flex;
    justify-content: center;
        align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50px);
    left: 399px;    
    background-image: url(../img/ornament-about-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: bottom center;
    z-index: 0;
}

.ornament {    
    width: 545px;
        height: 484px;
} */

    .about-first-title {
            font-size: 44px;            
            line-height: 1.45;            
            letter-spacing: -0.03em;
    }

    .about-first-text {
        width: 704px;
            font-size: 16px;
            font-style: normal;
            letter-spacing: -0.04px;
    }

    .about-second-text {
        width: 704px;
            font-size: 16px;
            font-style: normal;
            letter-spacing: -0.04px;
    }

        .about-picture {
            width: 704px;
            height: 545px;    
        }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;        
    }
        .section-about-us {                       
                       
        }

        /* @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-about-us {                
                    background-image: url(../src/img/ornament-about-desktop@2x.png);
            }
        } */

        .about-container {
            width: 1280px;
            margin-right: 0;
                margin-left: 0;                
    }

        /* .ornament-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            transform: translateY(80px);
            left: 895px;
            background-image: url(../img/ornament-about-tablet.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            z-index: 0;
        }
    
        .ornament {
            width: 545px;
            height: 484px;
        } */
    
        .about-first-title {
            
        }
    
        .about-first-text {
            width: 436px;
            
        }
    
        .about-second-text {
            width: 436px;
            margin-bottom: 0;            
        }

        .about-picture {
            width: 594px;
            height: 545px;
            
        }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 16px;
    }
}