.section-about-us {    
    position: relative;
    display: flex;
    justify-content: flex-end;
        align-items: flex-end;        
}

.about-ornament {
    padding-top: 80px;
    padding-bottom: 62px;
    max-width: 375px;    
    background-image: url(../img/ornament-about-mobile.png);
        background-repeat: no-repeat;
        background-size: 250px 408px;
        background-position: right 0 bottom 0;
}

@media (min-resolution: 192dpi) {
    .about-ornament {
        background-image: url(../img/ornament-about-mobile@2x.png);
    }
}

.about-container {
    width: 375px;
        margin-right: auto;
        margin-left: auto;
        position: relative;       
    
}

.about-img {
    position: relative;
    z-index: 1;
}

.about-first-title {
    color: #FCF9F9;        
        font-size: 32px;        
        font-weight: 500;
        line-height: 1.37;        
        letter-spacing: -0.03em;    
        margin-bottom: 40px;
}

.about-first-text {          
    width: 335px;
    color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.03em;
        margin-bottom: 20px;
}

.about-second-text {
    width: 335px;
        color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.03em;
        margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;        
    }

        @media (min-width: 768px) {
            .about-ornament {
                max-width: 768px;
                padding-top: 100px;
                background-image: url(../img/ornament-about-tablet.png);
                background-repeat: no-repeat;
                    background-size: 369px 484px;
                    background-position: right 0 bottom 0;
            }
        }

        .section-about-us {            
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .about-ornament {
                background-image: url(../img/ornament-about-tablet@2x.png);
            }
        }

    .about-container {
            width: 768px;
            margin-right: 0;
                margin-left: 0;
    }   

    .about-first-title {
            font-size: 44px;            
            line-height: 1.45;            
            letter-spacing: -0.03em;
    }

    .about-first-text {
        width: 704px;
            font-size: 16px;
            font-style: normal;
            letter-spacing: -0.04px;
    }

    .about-second-text {
        width: 704px;
            font-size: 16px;
            font-style: normal;
            letter-spacing: -0.04px;            
    }

        .about-picture {
            width: 704px;
            height: 545px;
            margin-top: 40px;  
        }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        display: flex;  
        gap: 50px;    
    }

        @media (min-width: 1280px) {
            .about-ornament {
                max-width: 1280px;
                padding-top: 150px;
                padding-bottom: 80px;
                /* background-image: url(../src/img/ornament-about-desktop.png); */
                background-repeat: no-repeat;
                    background-size: 385px 484px;
                    background-position: right 0 bottom 0;
            }
        }

        .about-desk {
            margin-top: 45.5px;
            gap: 50px;
            justify-content: center;
            align-items: center;
        }

        .section-about-us {                       
                       
        }

        /* @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-about-us {                
                    background-image: url(../src/img/ornament-about-desktop@2x.png);
            }
        } */

        .about-container {
            width: 1280px;
            margin-right: 0;
                margin-left: 0;                
    }

        .about-first-title {
            
        }
    
        .about-first-text {
            width: 436px;
            
        }
    
        .about-second-text {
            width: 436px;
            margin-bottom: 0;            
        }

        .about-picture {
            width: 594px;
            height: 545px;
            margin-top: 0;
        }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 16px;
    }
}