

.name-section-collection {
    margin-bottom: 40px;
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -1.32px;
    justify-content: center;
    display: flex;
    padding-top: 70px;
}

.list-collections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 130px;

    justify-content: center;
}

.vyshivanka-foto {
    position: absolute;
    background-position: bottom; 
    padding-top: 360px;
}

.vyshivanka-item {
    border-bottom: solid lightgray 50%;
    border-radius: 4px;
    margin-bottom: 18px;
}

.item-name {
margin-bottom: 8px;
font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.price-item {
    padding-bottom: 20px;
}



/* mobile */
@media screen and (min-width: 320px) {
    .poiters {
        display: none;
    }

    .price-item {
        color: rgba(252, 249, 249, 0.40);
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            /* 100% */
            letter-spacing: 0.7px;
    }

    .colection-elem {
            width: 335px;
        } 
    .container-collection {
            background-image: url(/img/elements-mob.jpg);
            background-repeat: no-repeat;
            /* background-size: cover right; */
            background-size: 70px;
            background-position: left top 10%;
            /* width: 375px; */
        }
    .section-collection {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

.vyshivanka-foto {
            padding-top: 360px;
    }

.item-name {
         font-size: 14px;
        letter-spacing: 0.7px;      
    }
}
    /* tablet  */
 @media screen and (min-width: 768px) and (max-width: 1280px) {

    .letters {
            display: none;
        }
    .poiters {
        display: contents;
    }

    .price-item {
            font-size: 18px;
            letter-spacing: 0.9px;
        }

    .colection-elem {
        width: 342px;
    } 

    .container-collection {
            background-image: url(/img/element-tab.png);
            background-repeat: no-repeat;
            background-size: cover right;
            background-size: 98px;
            background-position: left top 20%;
    }

.vyshivanka-foto {
            padding-top: 300px;
        }

.section-collection {
        max-width: 768px;
    } 
 }

 /* desktop 1 */
@media screen and (min-width: 1280px) {
    .letters {
            display: none;
        }
    
        .poiters {
            display: contents;
        }

    .item-name {

    }
    .price-item {
            font-size: 18px;
            letter-spacing: 0.9px;
        }

    .list-collections {
        gap: 40px 20px;
    }

    .container-collection {
        background-image: url(/img/elements.png);
        background-repeat: no-repeat;
            background-size: cover right;
            background-size: 100px;
            background-position: left top 30%;
        margin-left: auto;
        margin-right: auto;
}

    .vyshivanka-foto {
            padding-top: 240px;
        }

    .colection-elem {
            width: 347px;
        }
     
.section-collection {
       
        max-width: 1440px;
       
    }
}

/* desktop 2 */
 @media screen and (min-width: 1440px) {
.letters {
        display: contents;
    }

    .poiters {
        display: none;
    }
    .price-item {
            font-size: 18px;
            letter-spacing: 0.9px;
        }

.colection-elem {
    width: 400px;
} 
 }
/* the end desktop2 */


@media screen and (min-width: 1280px) {
    @media (min-resolution: 192dpi) {
        .container-collection {
            background-image: url(/img/elements@2x.png);
           
        }
    }
}

@media screen and (min-width: 768px) {
    @media (min-resolution: 192dpi) {
        .container-collection {
            background-image: url(/img/elements-tab@2x.png);

        }
    }
}

@media screen and (min-width: 320px) {
    @media (min-resolution: 192dpi) {
        .container-collection {
            background-image: url(/img/elements-mob@2x.jpg);

        }
    }
}