.heder{

}

.header-container{
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content:space-between;
}

.header-soc-mobmenu{
display: flex;
align-items: center;
}

.header-navigation{
    display: flex;
  }


.header-menu{
display: none;
}

.header-menu-list{

}

.header-menu-link{
color: #FCF9F9;
font-weight: 400;
line-height: 1.29; /* 128.571% */
text-transform: uppercase;
}


.header-address{
display: none;
}

.header-address-border{
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.header-address-link{
    color: #FCF9F9;
    font-style: normal;
    line-height: 1.43; /* 142.857% */
}



.header-mob-soc{
    display: flex;
    gap: 8px;
    margin-right: 20px;
}

.mob-soc-div{
    width: 44px;
    height: 44px;
    display: flex;
padding: 8px;
align-items: center;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background: rgba(252, 249, 249, 0.10);
}


.header-mobile-menu{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.header-mobiletabletlateral-menu{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 274px;
    height: 100vh;
    background-color: #ECD979;
    padding: 20px 20px;
    overflow: auto;
   
    /* opacity: 0;
    visibility: hidden; */

    opacity: 1;
    visibility: visible;
}



@media screen and (min-width: 375px) {


}



@media screen and (min-width: 768px) {

.header-mobiletabletlateral-menu{
    width: 380px;
}

}






@media screen and (min-width: 1280px) {
    
    .header-mobiletabletlateral-menu{
        display: none;
    }

    .header{
   
    }

    .header-container{
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }

    .header-logo{
        margin-right: 60px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-right: 129px;
    }

    .header-address{
        display: flex;
        margin-right: 20px;
    }

    .header-mobile-menu{
        display: none;
    }

    .header-mob-soc{
        margin-right: 0px;
    }

}