.heder{

}


.header-container{
    display: flex;
    font-size: 12px;
}

.header-navigation{
    display: flex;
  }

.header-menu{

}

.header-menu-list{

}

.header-menu-link{
color: #FCF9F9;
font-weight: 400;
line-height: 1.29; /* 128.571% */
text-transform: uppercase;
}


.header-address{

}

.header-address-border{
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.header-address-link{
    color: #FCF9F9;
    font-style: normal;
    line-height: 1.43; /* 142.857% */
}



.header-mob-soc{
    display: flex;
    gap: 8px;
}

.mob-soc-div{
    width: 44px;
    height: 44px;
    display: flex;
padding: 8px;
align-items: center;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background: rgba(252, 249, 249, 0.10);
}






@media screen and (min-width: 768px) {


}









@media screen and (min-width: 1280px) {
    
    .header{
   
    }

    .header-container{
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }

    .header-logo{
        margin-right: 60px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-right: 129px;
    }

    .header-address{
        margin-right: 20px;
    }

}